; .gitignore for Drupal User Registry Codeception module.

; Composer
vendor
composer.lock

; Test suite
tests/*/*Tester.php
tests/_output/*
!tests/_output/README.md

; Ignore generated documentation (for now).
docs
